In [210]:
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.endpoints import leaguegamelog
from nba_api.stats.endpoints import boxscoreplayertrackv2
from nba_api.stats.endpoints import teamgamelog
from nba_api.stats.endpoints import playergamelogs
from nba_api.stats.endpoints import leaguedashplayerstats
from nba_api.stats.static import teams
from json import JSONDecodeError
import pandas as pd
import requests
import time

In [98]:
def str_to_mins(inp):
    lst = inp.split(":")
    sec = int(lst[0])*60 + int(lst[1])
    return sec

In [149]:
games = pd.read_csv("all_games_since_1997.csv")
boxscores = pd.read_csv("all_boxscores_concatenated.csv")
season_stats = pd.read_csv("player-seasons_per_possession.csv")

In [190]:
playernames = list(boxscores["PLAYER_ID"].unique())

In [222]:
len(playernames)

2376

In [218]:
lst = []
time_taken = [10]
weird_ids = []
start = timeit.default_timer()
verbose = True
for i in range(len(playernames)):
    time.sleep(0.36)
    player = playernames[i]
    successful = False
    decode_error = False
    while not successful:
        try:
            get_start = timeit.default_timer()
            pl = commonplayerinfo.CommonPlayerInfo(player, timeout=round(2*sum(time_taken)/len(time_taken), 0))
            get_end = timeit.default_timer()
            time_taken.append(get_end-get_start)
            successful = True
        except JSONDecodeError:
            weird_ids.append(player)
            decode_error = True
            break
        except:
            if verbose:
                print(f"Timeout error on iteration {i}, taking a 3 second break before resuming")
            time.sleep(3)
        
    if decode_error: continue
    players = pl.get_data_frames()[0]
    lst.append(players)
    if i%50 == 1:
        stop = timeit.default_timer()
        if verbose:
            print(f"{i-1}/{len(playernames)} done: {round(i/len(playernames)*100,1)}% ... has taken {round((stop-start)/60,0)} min, total projected: {round((stop-start)/(i/len(playernames))/60, 2)} min, remaining projected: {round(((stop-start)/(i/len(playernames))-(stop-start))/60, 2)} min")
boxscores_concat = pd.concat(lst, axis = 0, ignore_index = True)
boxscores_concat.to_csv(f"commonplayerinfo.csv",index=False)

0/2376 done: 0.0% ... has taken 0.0 min, total projected: 39.43 min, remaining projected: 39.42 min
50/2376 done: 2.1% ... has taken 0.0 min, total projected: 22.88 min, remaining projected: 22.39 min
100/2376 done: 4.3% ... has taken 1.0 min, total projected: 23.19 min, remaining projected: 22.2 min
Timeout error on iteration 147, taking a 3 second break before resuming
150/2376 done: 6.4% ... has taken 2.0 min, total projected: 24.21 min, remaining projected: 22.67 min
200/2376 done: 8.5% ... has taken 2.0 min, total projected: 24.12 min, remaining projected: 22.08 min
250/2376 done: 10.6% ... has taken 3.0 min, total projected: 24.29 min, remaining projected: 21.72 min
300/2376 done: 12.7% ... has taken 3.0 min, total projected: 24.22 min, remaining projected: 21.15 min
Timeout error on iteration 306, taking a 3 second break before resuming
400/2376 done: 16.9% ... has taken 4.0 min, total projected: 24.73 min, remaining projected: 20.56 min
Timeout error on iteration 440, taking a 3 second break before resuming
Timeout error on iteration 440, taking a 3 second break before resuming
450/2376 done: 19.0% ... has taken 5.0 min, total projected: 25.42 min, remaining projected: 20.6 min
Timeout error on iteration 532, taking a 3 second break before resuming
Timeout error on iteration 558, taking a 3 second break before resuming
600/2376 done: 25.3% ... has taken 6.0 min, total projected: 25.62 min, remaining projected: 19.14 min
Timeout error on iteration 608, taking a 3 second break before resuming
650/2376 done: 27.4% ... has taken 7.0 min, total projected: 25.8 min, remaining projected: 18.73 min
750/2376 done: 31.6% ... has taken 8.0 min, total projected: 25.61 min, remaining projected: 17.52 min
800/2376 done: 33.7% ... has taken 9.0 min, total projected: 25.56 min, remaining projected: 16.94 min
850/2376 done: 35.8% ... has taken 9.0 min, total projected: 25.46 min, remaining projected: 16.34 min
950/2376 done: 40.0% ... has taken 10.0 min, total projected: 25.29 min, remaining projected: 15.17 min
Timeout error on iteration 997, taking a 3 second break before resuming
1000/2376 done: 42.1% ... has taken 11.0 min, total projected: 25.38 min, remaining projected: 14.69 min
Timeout error on iteration 1034, taking a 3 second break before resuming
1100/2376 done: 46.3% ... has taken 12.0 min, total projected: 25.43 min, remaining projected: 13.65 min
1150/2376 done: 48.4% ... has taken 12.0 min, total projected: 25.39 min, remaining projected: 13.09 min
Timeout error on iteration 1176, taking a 3 second break before resuming
1200/2376 done: 50.5% ... has taken 13.0 min, total projected: 25.47 min, remaining projected: 12.6 min
1250/2376 done: 52.7% ... has taken 13.0 min, total projected: 25.42 min, remaining projected: 12.04 min
1300/2376 done: 54.8% ... has taken 14.0 min, total projected: 25.41 min, remaining projected: 11.5 min
1350/2376 done: 56.9% ... has taken 14.0 min, total projected: 25.39 min, remaining projected: 10.95 min
1400/2376 done: 59.0% ... has taken 15.0 min, total projected: 25.41 min, remaining projected: 10.43 min
Timeout error on iteration 1402, taking a 3 second break before resuming
1450/2376 done: 61.1% ... has taken 16.0 min, total projected: 25.47 min, remaining projected: 9.92 min
1500/2376 done: 63.2% ... has taken 16.0 min, total projected: 25.41 min, remaining projected: 9.36 min
Timeout error on iteration 1517, taking a 3 second break before resuming
1550/2376 done: 65.3% ... has taken 17.0 min, total projected: 25.5 min, remaining projected: 8.86 min
1600/2376 done: 67.4% ... has taken 17.0 min, total projected: 25.48 min, remaining projected: 8.31 min
1650/2376 done: 69.5% ... has taken 18.0 min, total projected: 25.46 min, remaining projected: 7.77 min
1700/2376 done: 71.6% ... has taken 18.0 min, total projected: 25.45 min, remaining projected: 7.23 min
1750/2376 done: 73.7% ... has taken 19.0 min, total projected: 25.44 min, remaining projected: 6.69 min
1800/2376 done: 75.8% ... has taken 19.0 min, total projected: 25.43 min, remaining projected: 6.15 min
1850/2376 done: 77.9% ... has taken 20.0 min, total projected: 25.47 min, remaining projected: 5.63 min
1900/2376 done: 80.0% ... has taken 20.0 min, total projected: 25.46 min, remaining projected: 5.09 min
1950/2376 done: 82.1% ... has taken 21.0 min, total projected: 25.44 min, remaining projected: 4.55 min
2000/2376 done: 84.2% ... has taken 21.0 min, total projected: 25.43 min, remaining projected: 4.01 min
2050/2376 done: 86.3% ... has taken 22.0 min, total projected: 25.45 min, remaining projected: 3.48 min
2100/2376 done: 88.4% ... has taken 23.0 min, total projected: 25.45 min, remaining projected: 2.95 min
2150/2376 done: 90.5% ... has taken 23.0 min, total projected: 25.44 min, remaining projected: 2.41 min
2200/2376 done: 92.6% ... has taken 24.0 min, total projected: 25.42 min, remaining projected: 1.87 min
2250/2376 done: 94.7% ... has taken 24.0 min, total projected: 25.41 min, remaining projected: 1.34 min
2300/2376 done: 96.8% ... has taken 25.0 min, total projected: 25.44 min, remaining projected: 0.8 min
2350/2376 done: 98.9% ... has taken 25.0 min, total projected: 25.44 min, remaining projected: 0.27 min

In [150]:
games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M',
       'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST',
       'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE'],
      dtype='object')

In [151]:
boxscores.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'START_POSITION', 'COMMENT', 'MIN', 'SPD', 'DIST',
       'ORBC', 'DRBC', 'RBC', 'TCHS', 'SAST', 'FTAST', 'PASS', 'AST', 'CFGM',
       'CFGA', 'CFG_PCT', 'UFGM', 'UFGA', 'UFG_PCT', 'FG_PCT', 'DFGM', 'DFGA',
       'DFG_PCT'],
      dtype='object')

In [152]:
season_stats.columns

Index(['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'TEAM_ABBREVIATION', 'AGE', 'GP',
       'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV',
       'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS',
       'NBA_FANTASY_PTS', 'DD2', 'TD3', 'GP_RANK', 'W_RANK', 'L_RANK',
       'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK',
       'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK',
       'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK', 'AST_RANK',
       'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK', 'PFD_RANK',
       'PTS_RANK', 'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK', 'DD2_RANK',
       'TD3_RANK', 'CFID', 'CFPARAMS', 'SEASON'],
      dtype='object')

In [145]:
list_all_game_ids = list(games["GAME_ID"].unique())

In [186]:
master_dict = {k:{"home":dict(), "away":dict()} for k in list_all_game_ids[2000:2002]}
for game_id in list_all_game_ids[2000:2002]:
    relevant_games = games[(games['GAME_ID'] == game_id)]
    relevant_boxscores = boxscores[(boxscores['GAME_ID'] == game_id)]
    relevant_games.reset_index(drop=True, inplace=True)
    current_season = int(str(relevant_games.loc[0, "SEASON_ID"])[1:])
    print(current_season)
    
    # second step.... add the appropriate team id to home vs away
    if "@" in relevant_games.loc[0, "MATCHUP"]:
        master_dict[game_id]["away"]["team_id"] = relevant_games.loc[0, "TEAM_ID"]
        away_team_id = relevant_games.loc[0, "TEAM_ID"]
        master_dict[game_id]["home"]["team_id"] = relevant_games.loc[1, "TEAM_ID"]
        home_team_id = relevant_games.loc[1, "TEAM_ID"]
    else:
        master_dict[game_id]["away"]["team_id"] = relevant_games.loc[1, "TEAM_ID"]
        away_team_id = relevant_games.loc[1, "TEAM_ID"]
        master_dict[game_id]["home"]["team_id"] = relevant_games.loc[0, "TEAM_ID"]
        home_team_id = relevant_games.loc[0, "TEAM_ID"]
    
    #start logging the players
    master_dict[game_id]["home"]["players"] = dict()
    master_dict[game_id]["away"]["players"] = dict()
    for row in relevant_boxscores.itertuples():
        sec_played = str_to_mins(row.MIN)
        if sec_played > 0:
            if row.TEAM_ID == home_team_id:
                master_dict[game_id]["home"]["players"][row.PLAYER_NAME] = {"sec_played":sec_played, "stats":dict()}
                print(row.PLAYER_NAME)
                display(season_stats.loc[(season_stats["SEASON"] == current_season-1) & (season_stats["PLAYER_ID"] == row.PLAYER_ID)])
            else:
                master_dict[game_id]["away"]["players"][row.PLAYER_NAME] = {"sec_played":sec_played, "stats":dict()}

1999
Grant Hill

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
620,255,Grant Hill,1.610613e+09,DET,26.0,50,29,21,0.58,0.537,...,377,130,14,76,15,38,3,5,"255,1610612765",1998

Christian Laettner

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
533,363,Christian Laettner,1.610613e+09,DET,29.0,16,13,3,0.813,0.524,...,264,130,187,137,116,174,12,5,"363,1610612765",1998

Terry Mills

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
839,371,Terry Mills,1.610613e+09,MIA,31.0,1,0,1,0.0,0.517,...,206,130,269,388,407,174,12,5,"371,1610612748",1998

Jerry Stackhouse

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
662,711,Jerry Stackhouse,1.610613e+09,DET,24.0,42,24,18,0.571,0.525,...,365,92,37,170,161,125,12,5,"711,1610612765",1998

Lindsey Hunter

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
708,283,Lindsey Hunter,1.610613e+09,DET,28.0,49,29,20,0.592,0.546,...,331,68,213,78,215,125,12,5,"283,1610612765",1998

Michael Curry

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
738,688,Michael Curry,1.610613e+09,MIL,30.0,50,28,22,0.56,0.53,...,137,88,376,229,390,174,12,5,"688,1610612749",1998

Jerome Williams

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
661,966,Jerome Williams,1.610613e+09,DET,26.0,50,29,21,0.58,0.552,...,214,86,239,146,90,51,12,5,"966,1610612765",1998

Loy Vaught

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
712,919,Loy Vaught,1.610613e+09,DET,31.0,37,21,16,0.568,0.543,...,144,130,309,201,176,174,12,5,"919,1610612765",1998

Jermaine Jackson

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

Jud Buechler

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
680,146,Jud Buechler,1.610613e+09,DET,31.0,50,29,21,0.58,0.533,...,306,130,328,114,341,174,12,5,"146,1610612765",1998

Mike Abdenour

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

Larry Drew

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

Alvin Gentry

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

George Irvine

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

Mo McHone

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

Eric Montross

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
595,376,Eric Montross,1.610613e+09,DET,27.0,46,25,21,0.543,0.542,...,30,37,402,224,286,174,12,5,"376,1610612765",1998

Don Reid

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
579,690,Don Reid,1.610613e+09,DET,25.0,47,27,20,0.574,0.541,...,46,75,323,65,223,174,12,5,"690,1610612765",1998

1999
Kevin Garnett

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
693,708,Kevin Garnett,1.610613e+09,MIN,23.0,47,24,23,0.511,0.513,...,289,123,25,140,6,9,12,5,"708,1610612750",1998

Wally Szczerbiak

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

Rasho Nesterovic

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
780,1725,Rasho Nesterovic,1.610613e+09,MIN,23.0,2,0,2,0.0,0.495,...,59,130,347,157,378,174,12,5,"1725,1610612750",1998

Anthony Peeler

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
465,324,Anthony Peeler,1.610613e+09,MIN,29.0,28,14,14,0.5,0.498,...,346,130,247,119,302,174,12,5,"324,1610612750",1998

Terrell Brandon

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
835,210,Terrell Brandon,1.610613e+09,MIN,29.0,36,20,16,0.556,0.52,...,362,130,121,159,30,28,12,5,"210,1610612750",1998

Joe Smith

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
668,693,Joe Smith,1.610613e+09,MIN,23.0,43,20,23,0.465,0.518,...,197,130,118,172,67,33,12,5,"693,1610612750",1998

Malik Sealy

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
717,907,Malik Sealy,1.610613e+09,MIN,29.0,31,15,16,0.484,0.513,...,246,130,228,284,321,174,12,5,"907,1610612750",1998

Bobby Jackson

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
488,1517,Bobby Jackson,1.610613e+09,MIN,26.0,50,25,25,0.5,0.518,...,311,130,168,254,106,174,12,5,"1517,1610612750",1998

Dean Garrett

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
562,1051,Dean Garrett,1.610613e+09,MIN,32.0,49,24,25,0.49,0.52,...,183,130,340,296,195,125,12,5,"1051,1610612750",1998

Sam Mitchell

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
808,417,Sam Mitchell,1.610613e+09,MIN,35.0,50,25,25,0.5,0.516,...,301,130,116,200,197,174,12,5,"417,1610612750",1998

William Avery

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

Tom Hammonds

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS,SEASON
850,67,Tom Hammonds,1.610613e+09,MIN,32.0,49,25,24,0.51,0.522,...,128,13,275,195,370,174,12,5,"67,1610612750",1998

Greg Ballard

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

Sidney Lowe

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

Chris Palmer

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

Flip Saunders

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

Jerry Sichting

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, NBA_FANTASY_PTS, DD2, TD3, GP_RANK, W_RANK, L_RANK, W_PCT_RANK, MIN_RANK, FGM_RANK, FGA_RANK, FG_PCT_RANK, FG3M_RANK, FG3A_RANK, FG3_PCT_RANK, FTM_RANK, FTA_RANK, FT_PCT_RANK, OREB_RANK, DREB_RANK, REB_RANK, AST_RANK, TOV_RANK, STL_RANK, BLK_RANK, BLKA_RANK, PF_RANK, PFD_RANK, PTS_RANK, PLUS_MINUS_RANK, NBA_FANTASY_PTS_RANK, DD2_RANK, TD3_RANK, CFID, CFPARAMS, SEASON]
Index: []

[0 rows x 66 columns]

In [172]:
master_dict

{29700009: {'home': {'team_id': 1610612745,
   'players': {'Mario Elie': {'sec_played': 1653, 'stats': {}},
    'Kevin Willis': {'sec_played': 1879, 'stats': {}},
    'Hakeem Olajuwon': {'sec_played': 2124, 'stats': {}},
    'Clyde Drexler': {'sec_played': 2022, 'stats': {}},
    'Matt Maloney': {'sec_played': 1449, 'stats': {}},
    'Rodrick Rhodes': {'sec_played': 1240, 'stats': {}},
    'Charles Barkley': {'sec_played': 1353, 'stats': {}},
    'Matt Bullard': {'sec_played': 404, 'stats': {}},
    'Brent Price': {'sec_played': 1431, 'stats': {}},
    'Eddie Johnson': {'sec_played': 845, 'stats': {}},
    'Emanual Davis': {'sec_played': 0, 'stats': {}},
    'Othella Harrington': {'sec_played': 0, 'stats': {}}}},
  'away': {'team_id': 1610612739,
   'players': {'Wesley Person': {'sec_played': 2132, 'stats': {}},
    'Danny Ferry': {'sec_played': 1884, 'stats': {}},
    'Zydrunas Ilgauskas': {'sec_played': 2092, 'stats': {}},
    'Derek Anderson': {'sec_played': 1189, 'stats': {}},
    'Bob Sura': {'sec_played': 2360, 'stats': {}},
    'Mitchell Butler': {'sec_played': 1209, 'stats': {}},
    'Brevin Knight': {'sec_played': 1415, 'stats': {}},
    'Shawnelle Scott': {'sec_played': 882, 'stats': {}},
    'Cedric Henderson': {'sec_played': 1237, 'stats': {}},
    'Henry James': {'sec_played': 0, 'stats': {}},
    'Shawn Kemp': {'sec_played': 0, 'stats': {}},
    'Vitaly Potapenko': {'sec_played': 0, 'stats': {}}}}},
 29700002: {'home': {'team_id': 1610612751,
   'players': {'Kendall Gill': {'sec_played': 2166, 'stats': {}},
    'Chris Gatling': {'sec_played': 1581, 'stats': {}},
    'Jayson Williams': {'sec_played': 2420, 'stats': {}},
    'Kevin Edwards': {'sec_played': 1943, 'stats': {}},
    'Sam Cassell': {'sec_played': 2166, 'stats': {}},
    'Lucious Harris': {'sec_played': 1020, 'stats': {}},
    'David Benoit': {'sec_played': 481, 'stats': {}},
    'Yinka Dare': {'sec_played': 460, 'stats': {}},
    'Sherman Douglas': {'sec_played': 1131, 'stats': {}},
    'Michael Cage': {'sec_played': 1032, 'stats': {}},
    'Kerry Kittles': {'sec_played': 0, 'stats': {}}}},
  'away': {'team_id': 1610612754,
   'players': {'Chris Mullin': {'sec_played': 1577, 'stats': {}},
    'Dale Davis': {'sec_played': 2173, 'stats': {}},
    'Rik Smits': {'sec_played': 1828, 'stats': {}},
    'Reggie Miller': {'sec_played': 2177, 'stats': {}},
    'Mark Jackson': {'sec_played': 1468, 'stats': {}},
    'Antonio Davis': {'sec_played': 1432, 'stats': {}},
    'Fred Hoiberg': {'sec_played': 1279, 'stats': {}},
    'Travis Best': {'sec_played': 1412, 'stats': {}},
    'Mark West': {'sec_played': 327, 'stats': {}},
    'Jalen Rose': {'sec_played': 727, 'stats': {}},
    'Etdrick Bohannon': {'sec_played': 0, 'stats': {}},
    'Mark Pope': {'sec_played': 0, 'stats': {}}}}}}

In [179]:
type(season_stats.loc[5,"SEASON"])

numpy.int64

In [182]:
int(str(games.loc[0, "SEASON_ID"])[1:]) == season_stats.loc[5,"SEASON"]

True

In [205]:
boxscores.loc[(boxscores["PLAYER_ID"] == 1279)]

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,SPD,...,CFGM,CFGA,CFG_PCT,UFGM,UFGA,UFG_PCT,FG_PCT,DFGM,DFGA,DFG_PCT
585,29700015,1610612748,MIA,Miami,1279,Jeff Bzdelik,NaN,,0:00,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0.0
4536,29700185,1610612748,MIA,Miami,1279,Jeff Bzdelik,NaN,,0:00,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0.0
8358,29700320,1610612748,MIA,Miami,1279,Jeff Bzdelik,NaN,,0:00,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0.0
8834,29700330,1610612748,MIA,Miami,1279,Jeff Bzdelik,NaN,,0:00,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0.0
9066,29700341,1610612748,MIA,Miami,1279,Jeff Bzdelik,NaN,,0:00,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234500,20201121,1610612743,DEN,Denver,1279,Jeff Bzdelik,NaN,,0:00,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0.0
235451,20201149,1610612743,DEN,Denver,1279,Jeff Bzdelik,NaN,,0:00,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0.0
235826,20201156,1610612743,DEN,Denver,1279,Jeff Bzdelik,NaN,,0:00,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0.0
236543,20201176,1610612743,DEN,Denver,1279,Jeff Bzdelik,NaN,,0:00,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0.0
236828,20201185,1610612743,DEN,Denver,1279,Jeff Bzdelik,NaN,,0:00,0.0,...,0,0,0.0,0,0,0.0,0.0,0,0,0.0